{{#if showUpdateForm}}
  <form>
    <h2>Update Question</h2>
    <div>
      <label for="question">Question:</label>
      {{textarea value=question id='updateQuestion' placeholder=model.question.question}}
    </div>
    <div>
      <label for="notes" class="notes">Notes:</label>
      {{textarea value=notes id='updateNotes' placeholder=model.question.notes}}
    </div>
    <div>
      <label for="author">Name:</label>
      {{input value=author id='updateAuthor' placeholder=model.question.author}}
    </div>
    <button class="btn" {{action 'updateQuestion' model.question}}>Update</button>
  </form>
{{else}}
  <button class="btn" {{action 'showUpdateForm'}}>Update</button>
{{/if}}
