{{#if showUpdateForm}}
  <form>
    <h2>Update Answer</h2>
    <div>
      <label for="author">Name:</label>
      {{input value=author id='updateAuthor' placeholder=answer.author}}
    </div>
    <div>
      <label for="answer">Answer:</label>
      {{textarea value=answer1 id='updateAnswer' placeholder=answer.answer}}
    </div>
    <button {{action 'updateAnswer' answer}}>Update</button>
  </form>
{{else}}
  <button {{action 'showUpdateForm'}}>Update</button>
{{/if}}
